.Account-Container {
    width: 85%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
}
.Account-Container h1{
    margin :0;
}
.Account-line {
    content: '';
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #B4A30A;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.account-nav .nav-container .nav-elements  ul {
    display: flex;
    justify-content: flex-start;
}


.user-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  span {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="password"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 8px 16px;
    background-color: #B4A30A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #867906;
  }
  


